@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@200;400;700&display=swap');
:root {
    --primaryColor: #455360;
    --secondaryColor: #fb795b;
    --white: #fff;
    --font: 'Nunito', sans-serif;
    --fontSize: 16px;
    --logoFont: 'Great Vibes', cursive;
    --transition: .3s ease;
}
body {
    font-size: var(--fontSize);
    color: var(--primaryColor);
    font-family: var(--font);
}
h1, h2, h3, h4 {
    font-weight: 700;
}
.button {
    background-color: var(--secondaryColor);
    padding: 10px 40px;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    transition: var(--transition);
    display: inline-block;
}
.button:hover {
    background-color: var(--primaryColor);
    text-decoration: none;
    color: var(--white);
}
/*****************
topbar
*****************/
.topbar {
    background-color: var(--primaryColor);
}
.topbar a {
    color: var(--white);
}
.topbar a:hover {
    color: var(--secondaryColor);
    transition: var(--transition);
}
.topbar .col-md-6:first-child i {
    color: var(--secondaryColor);
}
/*****************
nav
*****************/
.navbar {
    background-color: var(--secondaryColor);
}
.navbar-brand {
    font-family: var(--logoFont);
    font-size: 2rem;
    color: var(--primaryColor);
}
.navbar-brand:hover {
    color: var(--white);
    transition: var(--transition);
}
.nav-link {
    color: var(--primaryColor);
    text-transform: uppercase;
    transition: var(--transition);
}
.nav-link:hover {
    color: var(--white);
}
.nav-item.active .nav-link {
    color: var(--white);
}
/*****************
header
*****************/
header {
    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}
header article {
    position: absolute;
    right: 15%;
    border-right: 10px solid var(--secondaryColor);
    background-color: var(--white);
    padding: 100px;
}
/*****************
main
*****************/
/* widget */
.widget {
    border: 1px solid var(--primaryColor);
}
.widget h3 {
    background-color: var(--secondaryColor);
}
.widget ul li a {
    display: block;
    color: var(--primaryColor);
    text-decoration: none;
    border-bottom: 2px solid var(--secondaryColor);
    margin-bottom: 5px;
    transition: var(--transition);
}
.widget ul li a:hover {
    background-color: var(--secondaryColor);
    color: var(--white);
    padding-left: 30px;
}
/* post */
.post .text {
    width: 80%;
    margin: auto;
    position: relative;
    top: -100px;
    background-color: var(--white);
    border-bottom: 6px solid var(--secondaryColor);
}